{%include "header.html" %}

<div class="page-nav no-margin row" xmlns="http://www.w3.org/1999/html">
                   <div class="container">
                       <div class="row">
                           <h2>Forgot Password</h2>
                           <ul>
                               <li> <a href="/user"><i class="fas fa-home"></i> Home</a></li>
                               <li><i class="fas fa-angle-double-right"></i>Forgot Password</li>
                           </ul>
                       </div>
                   </div>
               </div>


			  {% if msg %}

		<script>alert('Password reset Successfully..! Login Here.')</script>

    {% endif %}

  {% if msg2 %}

		<script>alert('User Id does not exist..!')</script>

    {% endif %}
<div style="margin-top:0px;" class="row">

      </div>
<form action="sendEmail" method="post">
      <div class="row contact-rooo">

           <div class="row w-100">


            <div style="padding:20px" class="col-sm-8">

                <div class="row">
                    <div class="col-sm-8">
                         <label><b>Registered Email ID:</b></label>
                        <input type="text" placeholder="Enter Email id" name="eid" class="form-control input-sm" required ></div>
                </div>
                

                 <div style="margin-top:10px;" class="row">
                    <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                    <div class="col-sm-8">
                    
                     <button class="btn btn-danger">&nbsp;Reset&nbsp;</button>
                     
                     

<br><br>
 
                    </div>
                </div>
            </div>
             <div class="col-sm-3">

                  <div style="margin:5px" class="serv">

              <img src="{{ url_for('static',filename='assets/images/user.png')}}" alt="">



           </div>


         </div>

            </div>
        </div>
</form>







{%include "footer.html" %}


