<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User</title>


    <link rel="shortcut icon" href="{{ url_for('static',filename='assets/images/fav.jpg')}}">
    <link rel="stylesheet" href=" {{ url_for('static',filename='assets/css/bootstrap.min.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/fontawsom-all.min.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/plugins/slider/css/owl.carousel.min.css')}} ">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/plugins/slider/css/owl.theme.default.css')}} ">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/style.css')}}" />
</head>

<body>
    <div class="container body-container">
        <!-- ################# Header Starts Here#######################--->
        <header>
            <div class="row header-top">
                <div class="col-lg-7 col-md-12 left-item">
                    <ul>

                    </ul>
                </div>
                <div class="col-lg-5 d-none d-lg-block right-item">
                    <ul>
                        <li><a><i class="fab fa-github"></i></a></li>
                        <li><a><i class="fab fa-google-plus-g"></i></a></li>
                        <li> <a><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a><i class="fab fa-twitter"></i></a></li>
                        <li> <a><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
            <div  class=" ">

                <div class="row header-nav">
                    
                    
                </div>

        </div>
        </header>
